h1 {
    color: rgb(193,166,53);
    background-color: rgb(96,126,56);
    display: inline;
    padding: 15px;

}

.title {
    margin-left: 0px;
    padding-left: 0px;
}

.container {
    margin-left:20px;
    
}

.img-crystal {
    width: 120px;
    margin-left: 0px;
    border: 5px solid black;
}

.instruction {
    color: rgb(193,166,53);
    background-color: rgb(96,126,56);
    font-weight: bold;
    margin: 10px 5px 5px 0px;
}

body {
    background-image: url("../images/background.jpg");
}

.targetScoreBox {
    background-color: rgb(96,126,56);
    padding: 5px 30px 30px 5px;
    margin: 5px 5px 5px 0px;
}

.targetScore {
    color: rgb(193,166,53);
}

.scoreCounter {
    background-color: rgb(96,126,56);
    margin: 0px 0px 5px 0px;
}

.restart {
    background-color: rgb(96,126,56);
    margin: 0px 0px 5px 0px; 
    display: flex;
}

#resetButton {
    position: relative;
    margin: auto;
    
}

.highScoreContainer {
    background-color: rgb(96,126,56);
    margin: 5px 0px 5px 0px; 
    display: flex;
}

.yourScoreContainer {
    background-color: rgb(96,126,56);
    margin-top: 5px;
}

.yourScoreNum {
    padding-bottom: 40px;
}

.heart {
    width: 30px;
    height: 30px;
}

.monsterImage {
    max-width:30px;
    max-height:30px;
    width: auto;
    height: auto;
}

* {
    color: rgb(193,166,53);
}

@media screen and (max-width: 980px) {
    .img-crystal {
        width: 100px;
        margin-left: 0px;
        border: 2px solid black;
    }

    .loz {
        display: none;
    }
    .container {
        margin: auto;
    }
}